* {
  padding: 0px;
}

html {
  background-color: #f6f5f1;
  font-family: sans-serif;
  font-size: 0.9rem;
}

body {
  width: 70%;
  margin: 0 auto;
}

main {
  display: flex;
  height: 100%;
  margin: 3rem 0;
}

section > p,
div > p {
  margin-top: 0px;
  margin-bottom: 1.2rem;
}

ul {
  list-style-type: none;

}

.container-types ul {
  display: flex;
  flex-direction: column;
}

.types__type-li {
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
  padding: 16px 12px;
  font-size: 16px;
  min-width: 144px; 
  flex: 1; 
}
.container-types ul > li:hover {
  background-color: #def2dd;
  cursor: pointer;
}

.clicked {
  background-color: green;
  color: #eeeeee;
}

.container-categories {
  margin-left: 1rem;
}

.categories__items {
  display: flex;
  flex-wrap: wrap;
}

ul > li > figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px 16px 0;
  width: 160px;
  height: 160px;
  border-radius: 8px;
  background-color: #ffffff;
}
ul > li > figure > img {
  height: 64px;
  width: 64px;
}

figcaption {
  text-align: center;
  padding-top: 20px;
}